# .ebextensions/01_chromium.config
commands:
  01_install_dependencies:
    command: |
      sudo yum install -y epel-release
      sudo yum install -y libX11 GConf2 alsa-lib
  02_download_chromium:
    command: |
      wget https://download-chromium.appspot.com/dl/Win_x64?type=snapshots -O chromium-linux.zip
      sudo unzip chromium-linux.zip -d /opt/chromium
      sudo ln -s /opt/chromium/chrome /usr/bin/chromium
