packages:
  yum:
    cups-libs: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXi: []
    libXrandr: []
    libXrender: []
    libXtst: []
    pango: []
    alsa-lib: []
    nss: []
    nspr: []
    gdk-pixbuf2: []
    libX11: []
    freetype: []
    freetype-devel: []
    libXScrnSaver: []
    ipa-gothic-fonts: []
    fontconfig: []
    xorg-x11-fonts-Type1: []
    xorg-x11-fonts-misc: []

commands:
  01_enable_epel:
    command: |
      amazon-linux-extras install epel -y

  02_install_chromium:
    command: |
      wget https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm -O /tmp/chromium.rpm
      sudo yum localinstall -y /tmp/chromium.rpm
