# .ebextensions/chromium.config
packages:
  yum:
    xorg-x11-server-Xvfb: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXi: []
    libXtst: []
    pango: []
    alsa-lib: []
    nss: []
    nspr: []
    gdk-pixbuf2: []
    ipa-gothic-fonts: []
    fontconfig: []
    xorg-x11-fonts-Type1: []
    xorg-x11-fonts-misc: []

commands:
  01_install_chromium:
    command: |
      wget https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm -O /tmp/chrome.rpm
      sudo yum remove google-chrome -y
      sudo yum localinstall -y /tmp/chrome.rpm

files:
  "/etc/profile.d/chromium.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      export PATH=$PATH:/usr/bin/google-chrome

container_commands:
  01_run_xvfb:
    command: |
      Xvfb :99 -ac &
      export DISPLAY=:99
