# .ebextensions/chromium.config
packages:
  yum:
    wget: []
    unzip: []
    xorg-x11-server-Xvfb: []
    gtk3: []
    atk: []
    cups-libs: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXi: []
    libXrandr: []
    libXrender: []
    libXtst: []
    pango: []
    alsa-lib: []
    libXScrnSaver: []
    libXrandr: []
    # Additional dependencies for Chromium
    nss: []
    nspr: []
    gdk-pixbuf2: []
    libX11: []
    libxcb: []
    libX11-xcb: []
    freetype: []
    freetype-devel: []

commands:
  01_install_chromium:
    command: |
      wget https://download-ssl.firefox.com.cn/releases/firefox/releases/98.0b9/https://download-chromium.appspot.com/dl/Linux_x64?type=snapshots -O /tmp/chromium-browser.rpm
      sudo yum localinstall -y /tmp/chromium-browser.rpm

files:
  "/etc/profile.d/chromium.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      export PATH=$PATH:/usr/bin/chromium-browser
