commands:
  01_enableEPEL:
    command: sudo amazon-linux-extras install epel -y

  02_set_unsafe_perm_true:
    command: |
      npm config set unsafe-perm true

  03_install_chromium:
    command: |
      sudo yum install -y chromium

  04_revert_unsafe_perm_false:
    command: |
      npm config set unsafe-perm false
